@media screen and (max-width: 768px) {
    .logo_img{
        width: 300px;
      }

      .button_start{
        padding: 16px 24px;
      }
      
      
      .button_add{
        padding: 20px 11px;
        
      }

      .principal_button{
        margin-top: 40px;
      }

    footer p,
    .fa-brands {
        font-size: 14px;
    }

    .fa-brands {
        font-size: 29px;
    }

    .add_input {
        width: 90%;
    }

    .container_add{
        height: 75%;
    }

    .button_agregar{
        font-size: 16px;
        padding: 15px 6px;
    }

    .button_cancel{
        font-size: 16px;
    }

      .game_board {
        position: relative;
        height: 600px;
        justify-content: end;
    }

    .canvas {
        position: relative;
        left: unset;
        transform: none;
        top: unset;
        height: 350px;
        justify-content: flex-end;
    }

    #horca {
        width: 100%;
        height: 280px;
        position: absolute;
        top: 35%;
        left: 38%;
        transform: translate(-50%, -50%);
    }

    .imagenes {
        left: 50%;
        bottom: 30%;
        transform: translate(-50%, -50%);
        z-index: 1;
        height: 300px;
    }

}

@media screen and (max-width: 360px){
    .game_board{
        height: 457px;
    }

    .imagenes{
        height: 249px;
    }

    .button_new-game, .button_desist {
        padding: 10px 20px;
        font-size: 15px;
    }
}